
<div class="container">
  <h2>Alquiler</h2>
  
  <div class="card-body">
    <form [formGroup]="carForm" (ngSubmit)="ngOnSubmit($event)">
      <div class="calendar-container">
        <label for="rentalStartDate">Fechas de alquiler:</label>
        <div class="calendar-months">
          <div class="month" *ngFor="let month of calendarMonths">
            <h3>{{ month.label }}</h3>
            <div class="calendar">
              <button 
                *ngFor="let date of month.dates" 
                [disabled]="isDateDisabled(date)"
                (click)="toggleDateSelection(date)"
                [ngClass]="{
                  'disabled-date': isDateDisabled(date),
                  'selected-date': isSelected(date)
                }">
                {{ date | date: 'dd' }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p>Días seleccionados:</p>
        <ul>
          <li *ngFor="let date of selectedDates">{{ date | date: 'shortDate':'UTC' }}</li>
        </ul>
        <button (click)="confirmRental()" [disabled]="selectedDates.length === 0">Confirmar días</button>
      </div>

      <div>
        <label for="originBranch">Sucursal de retiro:</label>
        <select id="originBranch" formControlName="originBranch" class="form-control">
          <option value="" disabled selected>Seleccione una sucursal</option>
          <option *ngFor="let branch of branches" [value]="branch.city">{{ branch.city }}</option>
        </select>
        <div *ngIf="carForm.get('originBranch')?.invalid && carForm.get('originBranch')?.touched" class="is-invalid">
          Selecciona una sucursal.
        </div>
      </div>

      <div>
        <label for="destinationBranch">Sucursal donde se devuelve el vehiculo:</label>
        <select id="destinationBranch" formControlName="destinationBranch" class="form-control">
          <option value="" disabled selected>Seleccione una sucursal</option>
          <option *ngFor="let branch of branches" [value]="branch.city">{{ branch.city }}</option>
        </select>
        <div *ngIf="carForm.get('destinationBranch')?.invalid && carForm.get('destinationBranch')?.touched" class="is-invalid">
          Selecciona una sucursal.
        </div>
      </div>

      <div>
        <button type="button" (click)="onCalculatePrice()">Calcular acarreo</button>
        <p>{{ distance }}</p>
        <p>{{ messagePrice }}</p>
        <p>{{ auxTotalPrice }}</p>
      </div>

      <button type="submit">Confirmar</button>
    </form>
  </div>
</div>
