<div>
    
    <form (submit)="applyFilters()" class="filters-form">
        <label for="brand">Marca:</label>
        <select id="brand" [(ngModel)]="filters.brand" name="brand">
            <option value="">Todos</option>
            <option *ngFor="let brand of uniqueBrands" [value]="brand">{{ brand }}</option>
        </select>

        <label for="year">Año:</label>
        <select id="year" [(ngModel)]="filters.year" name="year">
            <option value="">Todos</option>
            <option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</option>
        </select>

        <label for="type">Tipo:</label>
        <select id="type" [(ngModel)]="filters.type" name="type">
            <option value="">Todos</option>
            <option *ngFor="let type of uniqueTypes" [value]="type">{{ type }}</option>
        </select>

       
        <label for="minPrice" class="form-label">Precio</label>
        <input type="number" id="minPrice" [(ngModel)]="filters.minPrice" name="minPrice" placeholder="Mínimo" min="0" (change)="adjustPrices('min')">
        <span>-</span>
        <input type="number" id="maxPrice" [(ngModel)]="filters.maxPrice" name="maxPrice" placeholder="Máximo" min="0" (change)="adjustPrices('max')">

        <button type="submit">Filtrar</button>
        <button type="button" (click)="clearFilters()">Limpiar Filtros</button>
    </form>

   
    <div *ngIf="filteredCars.length === 0" class="no-results-message">
        Por el momento no contamos con vehículos de esas características.
    </div>

    <!-- Lista de carros -->
    <div *ngIf="filteredCars.length > 0" class="car-list">
        <div class="car-item" *ngFor="let car of filteredCars">
            <h3>{{ car.brand }} {{ car.model }}</h3>
            <img [src]="car.imageUrl" alt="{{ car.brand }} {{ car.model }}" class="car-image">
            <button [routerLink]="['/admin-edit-car', car.id]" class="view-button">Ver</button>
        </div>
    </div>
</div>
