<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-danger text-white">
          <h3 class="text-center">Cambiar Contraseña</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
              <label class="form-label">Contraseña Actual</label>
              <input type="password" class="form-control" formControlName="currentPassword">
            </div>

            <div class="mb-3">
              <label class="form-label">Nueva Contraseña</label>
              <input type="password" class="form-control" formControlName="newPassword">
            </div>

            <div class="mb-3">
              <label class="form-label">Confirmar Nueva Contraseña</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
            </div>

            <button type="submit" class="btn btn-danger w-100" [disabled]="!passwordForm.valid">
              Guardar nueva contraseña
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>