.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.car-item {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.car-item:hover {
  transform: scale(1.05);
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.view-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: #0056b3;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.filters-form input[type="number"] {
  width: 100px;
}

.no-results-message {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin-top: 60px;
  padding: 10px 20px;
  border: 2px solid #f5b8d4;
  border-radius: 10px;
  background-color: #ffeaf3;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
