<p>list-cars works!</p>
<div>
    <!-- Formulario de filtros -->
    <form (submit)="applyFilters()">
        <label for="brand">Marca:</label>
        <select id="brand" [(ngModel)]="filters.brand" name="brand">
            <option value="">Todos</option>
            <option *ngFor="let brand of uniqueBrands" [value]="brand">{{ brand }}</option>
        </select>

        <label for="year">Año:</label>
        <select id="year" [(ngModel)]="filters.year" name="year">
            <option value="">Todos</option>
            <option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</option>
        </select>

        <label for="type">Tipo:</label>
        <select id="type" [(ngModel)]="filters.type" name="type">
            <option value="">Todos</option>
            <option *ngFor="let type of uniqueTypes" [value]="type">{{ type }}</option>
        </select>

        <!-- Filtrado por precio -->
        <label for="minPrice" class="form-label">Precio</label>
        <div style="display: flex; align-items: center;">
            <input type="number" id="minPrice" [(ngModel)]="filters.minPrice" name="minPrice" placeholder="Mínimo" style="width: 100px;">
            <span style="margin: 0 10px;">-</span>
            <input type="number" id="maxPrice" [(ngModel)]="filters.maxPrice" name="maxPrice" placeholder="Máximo" style="width: 100px;">
        </div>

        <button type="submit">Filtrar</button>
        <button type="button" (click)="clearFilters()">Limpiar Filtros</button>
    </form>

    <!-- Lista de carros -->
    <div class="car-list">
        <div class="car-item" *ngFor="let car of filteredCars">
            <h3>{{ car.brand }} {{ car.model }}</h3>
            <img [src]="car.imageUrl" alt="{{ car.brand }} {{ car.model }}" class="car-image">
            <button [routerLink]="['/car-details', car.id]" class="view-button">Ver</button>
        </div>
    </div>
</div>
