<div class="container">
    <h2>Lista de Clientes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Fecha de Nacimiento</th>
          <th>Editar Cliente</th>
          <th>Estado Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" [ngClass]="{'desactivado': !client.isActive}">
          <td>{{ client.id }}</td>
          <td>{{ client.firstName }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.dateOfBirth | date }}</td>
          <td>
            <a [routerLink]="['/edit/', client.id]" class="btn btn-sm btn-primary">Editar</a>
          </td>
          <td>
            <button 
              (click)="onToggleState(client)" 
              [class.btn-danger]="client.isActive" 
              [class.btn-success]="!client.isActive" 
              class="btn btn-sm">
              {{ client.isActive ? 'Desactivar' : 'Activar' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  