<div class="client-management">
    <h2>Gestión de Administradores</h2>
  
    <!-- Botones de navegación -->
    <div class="button-group mb-4">
        <button 
          (click)="showComponent('list')"
          [class.active]="activeComponent === 'list'"
          class="btn btn-primary me-2">
          Listar Administradores
        </button>
        <button 
          (click)="showComponent('add')"
          [class.active]="activeComponent === 'add'"
          class="btn btn-success">
          Agregar Administrador
        </button>
      </div>
    <!-- Componentes condicionalmente mostrados -->
    <div [ngSwitch]="activeComponent">
        <app-admin-add *ngSwitchCase="'add'"></app-admin-add>
        <app-admin-list *ngSwitchCase="'list'"></app-admin-list>
    </div>
  </div>

  <button 
  (click)="goBack()" 
  class="btn btn-secondary mb-3">
  ← Volver
</button>