<div class="container mt-5">

  <h1 class="text-center mb-4">Historial de Alquileres y Compras</h1>

  
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  
  <div *ngIf="!errorMessage">
    
    <div class="card shadow mb-4">
      <div class="card-header bg-warning text-white">
        <h2 class="h5">Alquileres</h2>
      </div>
      <div class="card-body">
        <ul class="list-group" *ngIf="rentals.length > 0; else noRentals">
          <li class="list-group-item" *ngFor="let rental of rentals">
            <p class="mb-1"><strong>Vehículo:</strong> {{ rental.carName }}</p>
            <p class="mb-1"><strong>Desde:</strong> {{ rental.rentalStartDate | date:'yyyy-MM-dd' }}</p>
            <p class="mb-1"><strong>Hasta:</strong> {{ rental.rentalEndDate | date:'yyyy-MM-dd'}}</p>
            <p class="mb-1"><strong>Precio:</strong> ${{ rental.price }}</p>
            <p class="mb-1"><strong>Origen:</strong> {{ rental.originBranch }}</p>
            <p><strong>Destino:</strong> {{ rental.destinationBranch }}</p>
            <button (click)="cancelReservation(rental.id)">Eliminar reserva</button>
          </li>
        </ul>
        <ng-template #noRentals>
          <div class="alert alert-secondary text-center">No hay alquileres registrados.</div>
        </ng-template>
      </div>
    </div>

   
    <div class="card shadow">
      <div class="card-header bg-success text-white">
        <h2 class="h5">Compras</h2>
      </div>
      <div class="card-body">
        <ul class="list-group" *ngIf="purchases.length > 0; else noPurchases">
          <li class="list-group-item" *ngFor="let purchase of purchases">
            <p class="mb-1"><strong>Vehículo:</strong> {{ purchase.carName }}</p>
            <p><strong>Precio:</strong> ${{ purchase.price }}</p>
          </li>
        </ul>
        <ng-template #noPurchases>
          <div class="alert alert-secondary text-center">No hay compras registradas.</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
