<div class="carDetails">
  <h1>{{ car?.brand }} {{ car?.model }} {{ car?.year }}</h1>
  <img [src]="car?.imageUrl" alt="Imagen del auto" class="car-image" style="width: 200px; height: 200px;">
  <p><strong>Precio:</strong> {{ car?.price | currency: 'USD' }}</p>
  <p>Descripción: {{ car?.description }}</p>
  <p>Sucursal: Mar del Plata</p>

  <div *ngIf="!car?.isForSale">
    <form [formGroup]="carForm" (ngSubmit)="ngOnSubmit()">
      <label>Fechas de alquiler</label>
      <input type="date" formControlName="rentalStartDate">
      <input type="date" formControlName="rentalEndDate">

      <label>En qué sucursal va a dejar el auto</label>
      <select formControlName="destination">
        <option value="Mar del Plata">Mar del Plata</option>
        <option value="CABA">CABA</option>
        <option value="Rosario">Rosario</option>
        <option value="Cordoba Capital">Córdoba Capital</option>
      </select>
      <button type="button" (click)="calculateDistanceAndCarryPrice(carForm.get('destination')?.value)">Calcular acarreo</button>
      <p>{{ distance }}</p>
      <p>{{ messagePrice }}</p>

      <button type="submit">Alquilar</button>
    </form>
  </div>

  <div *ngIf="car?.isForSale">
    <button (click)="ngOnSubmit()">Comprar</button>
  </div>
</div>
